{
	"bearer_token":        "YOUR BEARER TOKEN",
	"instance":            "yourinstance.tld",
	"attempted_instances": ["someinstance.tld", "someotherinstance.tld"],
	"limit":               20,
	"last_id":             null
}
